@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

/* .nav-link {
  position: relative;
  transition: all ease-in-out 0.4s;
}
.nav-link:hover {
  color: #bda191;
}

.nav-link::after {
  content: "";
  height: 1px;
  width: 0;
  background: #bda191;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all ease-in-out 0.5s;
}
.nav-link:hover:after {
  width: 100%;
} */

.hideScroll::-webkit-scrollbar {
  display: none;
}

/* ::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 1px solid #585656;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
} */
